// #include "resource.h"

#define IDM_OPEN                        40001
#define IDM_SAVE                        40002
#define IDM_CLOSE                       40003
#define IDM_SAVEAS                      40004
#define IDM_EXIT                        40005
#define IDM_COPY                        40006
#define IDM_CUT                         40007
#define IDM_PASTE                       40008
#define IDM_DELETE                      40009
#define IDM_SELECTALL                   40010
#define IDM_UNDO                        40012
#define IDM_REDO                        40013

#define MIDR_MAINMENU                   201
#define MIDR_CHILDMENU                  202
#define MIDM_EXIT                       50001
#define MIDM_TILEHORZ			        50002
#define MIDM_TILEVERT			        50003
#define MIDM_CASCADE			        50004
#define MIDM_NEW	                    50005
#define MIDM_CLOSE                      50006

MIDR_MAINMENU MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New File",                   MIDM_NEW
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       MIDM_EXIT
    END
    POPUP "&Window"    
    BEGIN
    	MENUITEM "Tile Horizontal",             MIDM_TILEHORZ
    	MENUITEM "Tile Vertical",               MIDM_TILEVERT
    	MENUITEM "Cascade",                     MIDM_CASCADE
    END
END

MIDR_CHILDMENU MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New File",                   MIDM_NEW
        MENUITEM "&Close Editor",               MIDM_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Open File",                  IDM_OPEN
        MENUITEM "&Close File",                 IDM_CLOSE
        MENUITEM "&Save ",                      IDM_SAVE
        MENUITEM "Save &As",                    IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       MIDM_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo",                       IDM_UNDO
        MENUITEM "&Redo",                       IDM_REDO
        MENUITEM "&Copy",                       IDM_COPY
        MENUITEM "C&ut",                        IDM_CUT
        MENUITEM "&Paste",                      IDM_PASTE
        MENUITEM SEPARATOR
        MENUITEM "&Delete",                     IDM_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Select &All",                 IDM_SELECTALL
    END
    POPUP "&Window"    
    BEGIN
    	MENUITEM "Tile Horizontal",MIDM_TILEHORZ
    	MENUITEM "Tile Vertical",MIDM_TILEVERT
    	MENUITEM "Cascade",MIDM_CASCADE
    END
END
